:root {
  --srvr-bg-color: #202225;
  --chnl-bg-color: #2F3136;
  --chl-btn-color: #42464D;
  --chl-chat-bg-color: #36393F;
  --icon-bg-color: #B9BBBE;
  --new-btn-color: #3BA55D;
  --srvr-list-width: 3rem;
  --chnl-list-width: 15rem;
  --chnl-list-width: 15rem;
}

* {
  margin: 0px;
  padding: 0px
}

.bdr-btm {
  border-bottom: 1px solid var(--srvr-bg-color);
}

.flex-display {
  display: flex;
}

.block-display {
  display: block;
}

.grow {
  flex-grow: 1;
}

.userpage-container {
  height: 100vh;
}

.input {
  border: 0px;
  border-radius: .4rem;
  color: var(--icon-bg-color);
  background-color: var(--srvr-bg-color);
  padding: .5rem;
  text-transform: capitalize;
  width: 14rem;
  margin-bottom: .8rem;
}

.divider {
  background-color: var(--srvr-bg-color);
}

.input:focus {
  outline: none;
}

.server-container {
  background-color: var(--srvr-bg-color);
  width: var(--srvr-list-width);
  padding: .2rem;
}

.channel-container {
  color: #ffffff;
  background-color: var(--chnl-bg-color);
  flex-grow: 1;
}

.chat-component {
  width: 50rem;
}

.user-panel {
  position: absolute;
  bottom: .5rem;
}

.srvr-icon {
  color: var(--icon-bg-color);
  margin-bottom: .5rem;
}

.user-chat-profile-photo {
  height: 7rem;
  width: 7rem;
}

.srvr-options {
  position: absolute;
  bottom: 1rem;
}

.channel-list {
  display: block;
  width: var(--chnl-list-width);
  padding: .5rem;
}

.chat-panel {
  background-color: var(--chl-chat-bg-color);
  height: 100vh;
}

.chat-panel-header {
  display: flex;
  padding: .5rem;
  border-bottom: 1px solid var(--chnl-bg-color);
}

.icon {
  color: var(--icon-bg-color);
  background-color: inherit;
  border: 0px;
  height: 2.5rem;
  width: 2.5rem;
}

.icon:hover {
  background-color: var(--chl-chat-bg-color);
}

.dm-user {
  text-align: center;
  text-transform: capitalize;
  color: var(--icon-bg-color);
  background-color: var(--chl-btn-color);
  border-radius: .4rem;
  margin: .5rem 0rem;
  padding: .5rem 0rem;
  width: 15rem;
}

.dm-user:hover {
  cursor: pointer;
  color: var(--chl-btn-color);
  background-color: var(--icon-bg-color);
}

.btn {
  border: 0px;
  background-color: var(--chl-btn-color);
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--chl-chat-bg-color)
}

.btn-wide {
  width: 15rem;
  color: var(--icon-bg-color);
  background-color: var(--chl-btn-color);
  padding: .6rem .5rem;
  border: 0px;
  border-radius: .4rem;
  margin: .5rem 0rem;
  text-transform: uppercase;
}

.chat-panel-header-btn {
  background-color: var(--chl-btn-color);
  border: 0px;
  padding: .5rem;
  border-radius: .4rem;
  margin-left: 1rem;
  color: var(--icon-bg-color);
  text-transform: capitalize;
}

.inactive-icon {
  background-color: var(--chl-chat-bg-color);
}

.g-btn {
  color: #ffffff;
  background-color: var(--new-btn-color);
}

.user-name {
  font-size: 1.5rem;
  color: #ffffff;
}

.chat-header,
.chat {
  padding: .5rem .8rem;
}

.user-chat {
  background-color: var(--chl-chat-bg-color);
}

.user-chat-name-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  padding-top: 1rem;
}

.user-chat-description-heading {
  color: var(--icon-bg-color);
  padding: 1rem 0rem;
}


.user-input {
  position: absolute;
  bottom: 0rem;
  padding: 1.2rem 1rem;
}

.chat {
  overflow-y: scroll;
  height: 25rem;
}

.message {
  padding-top: 1rem;
}

.message-profile-icon {
  color: var(--icon-bg-color);
  background-color: var(--chl-btn-color);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.message-sender {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 550;
}

.message-time-stamp {
  color: var(--icon-bg-color);
  font-size: .8rem;
}

.message-message {
  color: var(--icon-bg-color);
  margin-top: .5rem;
  max-width: 50rem;
}